div#voorzieningen {
	width: 100%;
	padding: 0 2% 0 2%;
}

div#voorzieningen table{
	width: 100%;
}

div#voorzieningen .under-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1%;
}

div#voorzieningen .under-header h2 {
	order: 0;
}

div#voorzieningen .under-header .add {
	order: 1;
}

div#voorzieningen .under-header .date-picker {
	order: 2;
}

div#voorzieningen thead {
	border: 1px solid rgba(0, 0, 0, 0.05);
	background: #F5F5F5; 
}

div#voorzieningen td, div#voorzieningen th {
	width: 10%;
	text-align: center;
}

div#voorzieningen td {
	border: 1px solid #8A8A8A;
}

div#voorzieningen td:nth-child(2), div#voorzieningen th:nth-child(2) {
	width: 20%;
	text-align: left;
	padding-left: 2px;
} 

div#voorziening span.add a, div#voorzieningen span.date-picker a {
	color: #8A8A8A;
	text-decoration: none;
}

.add {
	transition-duration: 300ms;
	transition-property: all;
	height: 100%;
	font-size: 23px;
	gap: 2rem;
	color: #8A8A8A;
	font-weight: normal;
	cursor: pointer;
	display: flex;
}

.under-header {
	color: #792F82;
	font-weight: bold;
	font-size: 25px;
}

.add:hover {
	color: #626060;
}

@media only screen and (max-width: 600px) {
	div#voorzieningen td a {
		width: auto !important;
	}
}
